<div class="panel panel-default" [appHighlightItem] = 'itemColor'>
  <div class="panel-heading">Product</div>
  <div class="panel-body">
          <ul>
            <li>Name: {{cartitemIn.product.name | uppercase}}</li>
            <li>Number: <input type="number" #quantField name="quant"  placeHolder="Number" (change)="onChangeQuant(quantField)" value='{{cartitemIn.quant}}'></li>
            <li>Price: {{cartitemIn.price | currency:'USD':'symbol-narrow':'4.2-2'}}</li>
            <li>Updated: {{cartitemIn.updateDate | date:'medium'}}</li>
          </ul>
          <button type="button" class="btn btn-primary" (click)="onDelete();">Delete</button>
  </div>
</div>
