<div class="row">
  <h4 class="col-md-10"><p><b>Products in cart:</b></p></h4>
  <span class="col-md-2">
    <a class="btn btn-default" (click)="onClose()">x</a>
  </span>
</div>
<div>
    Sort cart items by:
    <select (change)="onSortChange($event.target.value)">
      <option *ngFor="let sitem of sortItems" [value]="sitem.id">{{sitem.label}}</option>
    </select>
<app-cart-item
   *ngFor="let cartitem of this.cartService.getCartItems() | orderBy: sortField : false "
    [cartitemIn]="cartitem"
    (deleteCartItem)="onDelete($event)">
</app-cart-item>
</div>
